[Desktop Entry]
Type=Application
Version=1.0
Name=KBlueProximity
GenericName=Bluetooth proximity lock
GenericName[it]=Blocco per prossimità Bluetooth
Comment=Lock and unlock the desktop based on Bluetooth device proximity
Comment[it]=Blocca e sblocca il desktop in base alla prossimità di un dispositivo Bluetooth
Exec=kblueproximity
Icon=kblueproximity
Terminal=false
Categories=Qt;KDE;System;Security;
Keywords=bluetooth;lock;proximity;security;screensaver;
Keywords[it]=bluetooth;blocco;prossimità;sicurezza;screensaver;
StartupNotify=false
