#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@ --with python3

override_dh_auto_configure:

override_dh_auto_build:
	msgfmt -o LANG/it/LC_MESSAGES/kblueproximity.mo \
		LANG/it/LC_MESSAGES/kblueproximity.po
	msgfmt -o LANG/en/LC_MESSAGES/kblueproximity.mo \
		LANG/en/LC_MESSAGES/kblueproximity.po

override_dh_auto_test:

override_dh_auto_install:
	install -d debian/kblueproximity/usr/share/kblueproximity/LANG/it/LC_MESSAGES
	install -d debian/kblueproximity/usr/share/kblueproximity/LANG/en/LC_MESSAGES
	install -m 644 LANG/it/LC_MESSAGES/kblueproximity.mo \
		debian/kblueproximity/usr/share/kblueproximity/LANG/it/LC_MESSAGES/
	install -m 644 LANG/en/LC_MESSAGES/kblueproximity.mo \
		debian/kblueproximity/usr/share/kblueproximity/LANG/en/LC_MESSAGES/

override_dh_install:
	dh_install
	find debian/kblueproximity -type d -name __pycache__ -exec rm -rf {} +

override_dh_python3:
	dh_python3 /usr/share/kblueproximity
