#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_install:
	install -d debian/kblueproximity/usr/share/kblueproximity
	cp -a kblueproximity debian/kblueproximity/usr/share/kblueproximity/
	find debian/kblueproximity/usr/share/kblueproximity -type d -name __pycache__ -exec rm -rf {} +
	install -m 644 proximity.py *.svg debian/kblueproximity/usr/share/kblueproximity/
	cp -a LANG debian/kblueproximity/usr/share/kblueproximity/
	install -d debian/kblueproximity/usr/bin
	install -m 755 addons/kblueproximity debian/kblueproximity/usr/bin/kblueproximity
	install -d debian/kblueproximity/usr/share/applications
	install -m 644 addons/kblueproximity.desktop debian/kblueproximity/usr/share/applications/
	install -d debian/kblueproximity/usr/share/pixmaps
	install -m 644 addons/kblueproximity.xpm debian/kblueproximity/usr/share/pixmaps/
	install -d debian/kblueproximity/usr/share/doc/kblueproximity
	install -m 644 README.md COPYING ChangeLog debian/kblueproximity/usr/share/doc/kblueproximity/
	install -d debian/kblueproximity/usr/share/man/man1
	gzip -9 -c doc/kblueproximity.1 > debian/kblueproximity/usr/share/man/man1/kblueproximity.1.gz
